@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', sans-serif;
}

header {
  background-color: black;
  color:white;
}

.mainNavigation {
  width:100%;
  margin: 0 auto;
  height:6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

h4 {
  font-weight: 500;
}

#on {
  color:#24ba9f;
  font-weight: bold;
}

.navigation > li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2em;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.dropdown {
  display:none;
  padding-top: 33px;
  position: absolute;
  width: 130px;
  height: 140px;
}

.firstLi:hover .dropdown {
  display:block;
}

.firstLi .dropdown:before {
  top: 18px;
  left: calc(25% - 5px);
  content: "";
  display: block;
  position: absolute;
  border-bottom: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.dropdownLi {
  background-color: #000;
  padding-left: 13px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82%;
  width: 100%;
  margin: 0 auto;
  background:linear-gradient(white, lightgrey);
}

.slider > ul {
  list-style-type: none;
}

.slider ul li {
  display: flex;
  align-items: center;
}

.sliderArrow p {
  width: 10%;
  color: #24ba9f;
  font-size: 7em;
  padding: 0 1.3em;
  font-weight: 200;
  margin-left: -50px;
  margin-right: -50px;
}

.contentCenter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.contentCenter > h1 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

.lorem {
  font-size: 0.4em;
  line-height: 1.5em;
  padding: 2em 0;
}

.button {
  text-decoration:none;
  border-radius: 10px;
  padding: 0.6em 1.8em;
  font-size: 0.6em;
  color: white;
  background-color: #24ba9f;
  border: none;
  cursor: pointer;
  text-align: center;
}

.blackChair {
  background-repeat: no-repeat;
  background-size: cover;
  height: 33em;
  margin-left: -7em;
}

.threePhotos {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 30%;
  margin: 2em 4em 7em;
}

.clair {
  background-image: url('../images/box1_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.margarita {
  background-image: url('../images/box2_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputs {
  width:30%;
  height: 110%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 2em 1.2em;
  letter-spacing: 1px;
}

.opacity {
  margin-top: 13em;
  width: 100%;
  height: 4em;
  background-color: rgba(255, 255, 255, .4);
  position: relative;

}

.opacity:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 27%;
  height: 13%;
  margin-left: 0.8em;
}

.opacity > h4 {
  text-align: left;
  padding-top: 0.8em;
  font-weight: 700;
  padding-left: 0.8em;
}

#space {
    margin-top: 2em;
}

.inputs > h4 {
  font-weight: bold;
  position: relative;
}

.inputs h4:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 32%;
  height: 40%;
  display: block;
  float: left;
  margin-top: 0.2em
}

.backgroundColor {
  background-color: rgba(211, 211, 211, .4);
  height:90%;
  width:100%;
}

.border {
  padding:4em 7em;
  width: 100%;
  height: 100%;
}

.offersContainer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 5em 0;
  justify-content: space-between;
}

.border > h2 {
  font-weight: 500;
  position: relative;
}

.border > h2:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 28%;
  height: 25%;
  top: 1.4em;
  left: 0em;
}

.offers {
  border: 2px solid gray;
  width: 28%;
  height: 109%;
  display: flex;
  flex-direction: column;
}

.middleOffer {
  border: 1px solid #24ba9f;
}

.mainSpace {
  width:auto;
  position: relative;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
  justify-content: space-around;
  background-color: rgba(255,255,255, .3);
}

.mainSpace>p {
  color: #24ba9f;
  font-weight: 500;
  font-size: 2em;
}

.middleColor {
  background-color: #24ba9f;
}

.circle .green {
  color: #24ba9f;
  font-weight: bold;
}

.middleColor > p {
  color:white;
}

.circle {
  border: 2px solid gray;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.textPrice {
  font-size: 1.3em;
  font-weight: 600;
  color: gray;
  opacity: .6;
}

.price {
  font-weight: 600;
  color: gray;
  opacity: .6;
  height: 30%;
  font-size: 3em;
}

.price > sup {
  font-size: 0.4em;
  position: relative;
  top: -0.5em;
}

.subSpace {
  width: auto;
  height:20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.paragraphStyle {
  width: 100%;
  padding: 0.750em;
  font-size: 1.5em;
  text-align: center;
}

.subSpace > .paragraphStyle {
  height: 50%;
}

.darkColor {
  background-color: darkgray;
}

.lightColor {
  background-color: lightgrey;
}

.secondSpace {
  width:auto;
  height: 30%;
  border: 2px solid #24ba9f;
}

.bottomSpace {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  justify-content: flex-end;
  background-color: rgba(255,255,255, .3);
}

.firstHeight {
  height: 40%;
}

.secondHeight {
  height:30%;
  background-color: #24ba9f;
}

.thirdHeight {
  height:20%;
}

.fourthSpace {

  width:auto;
  height: 40%;
}

.secondSpace > .paragraphStyle {
  height:33.3%
}

.noColor {
  background-color: white;
}

.middleColor > .circle {
  border: 1px solid #24ba9f;
}

.fourthSpace > p {
  height:25%;
}

.middleColor > .circleColor {
  background-color: #24ba9f;
  border: 1px solid #24ba9f;
}

.offerButton {
  border: 1px solid #24ba9f;
  width: 35%;
  height: 2em;
  background-color: #24ba9f;
  border-radius: 0.4em;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top:0.35em;
  font-weight: 600;
}

.otherButton {
  background-color: white;
  color: #24ba9f;
  font-weight: 600;
}

.miniCircle {
  border: 2px solid gray;
  background-color: white;
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 30px);
  top: calc(-45px);
}

.insideCircle {
  height: 30px;
  width: 30px;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 50%;
  z-index: 2;
  left: calc(50% - 15px);
  top: 25%;
  position: absolute;
}

.mainSpace .miniCircle .miniColor {
  background-color:white;
  border: 1px solid #24ba9f;
}

.lastOne {
  padding: 3em 7em 0em 7em;
  width: 100%;
  height: 80%;
}

.contact {
  height: 60%;
  width:100%;
  display: flex;
  margin-top: 3em;
}

.lastOne > h2 {
  font-weight: 500;
  position: relative;
}

.lastOne > h2:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 28%;
  height: 25%;
  top: 1.4em;
  left: 0em;
}

.contactForm {
  height: 100%;
  width: 60%;
}

.contactForm form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
  height: 100%;
}

.name, .email {
  width: 85%;
  height: 15%;
  opacity: .5;
  text-indent: 0.4em;
  font-size: 2em;
  margin-bottom: 1em;
  border: 1px solid #24ba9f;
}

.message {
  width: 85%;
  height: 48%;
  opacity: .5;
  text-indent: 0.4em;
  font-size: 2em;
  margin-bottom: 1em;
  border: 1px solid #24ba9f;
}

.rightSide {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.images {
  width: 100%;
  height: 55%;
  background-image: url('../images/red_chair.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sendButton {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.checkBorder, .check {
  height: 60px;
  width: 60px;
  border: 1px solid #24ba9f;
}

.check {
  opacity: 0;
  cursor: pointer;
}

.checkStyle {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.checkStyle > p {
  width: 90%;
  margin-left: 1em;
  font-size: 1.5em;
  color: darkgray;
}

.lastButton {
  height: 30%;
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  background-color: #24ba9f;
}

footer {
  margin: 0 auto;
  height: 5%;
  width: 100%;
}

.footerPosition {
  padding-left: 3em;
  padding-right: 7em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.footerPosition > p {
  width: 60%;
  color: darkgray;
  font-weight: 600;
  word-spacing: 5px;
}

.lastSegment {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.lastSegment > p {
  color: darkgray;
  font-weight: 600;
  font-size: 1.2em;
}

.lastSegment p span {
  font-weight: bold;
}
