@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', sans-serif;
}

header {
  background-color: black;
  color:white;
}

.mainNavigation {
  width:100%;
  margin: 0 auto;
  height:6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

h4 {
  font-weight: 500;
}

#on {
  color:#24ba9f;
  font-weight: bold;
}

.navigation li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2em;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82%;
  width: 100%;
  margin: 0 auto;
  background:linear-gradient(white, lightgrey);
}

.slider > ul {
  list-style-type: none;
}

.slider ul li {
  display: flex;
  align-items: center;
}

.sliderArrow p {
  width: 10%;
  color: #24ba9f;
  font-size: 7em;
  padding: 0 1.3em;
  font-weight: 200;
  margin-left: -50px;
  margin-right: -50px;
}

.contentCenter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.contentCenter > h1 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

.lorem {
  font-size: 0.4em;
  line-height: 1.5em;
  padding: 2em 0;
}

.button {
  border-radius: 10px;
  padding: 0.6em 1.8em;
  font-size: 0.6em;
  color: white;
  background-color: #24ba9f;
  border: none;
  cursor: pointer;
  text-align: center;
}

.blackChair {
  background-repeat: no-repeat;
  background-size: cover;
  height: 33em;
  margin-left: -7em;
}

.threePhotos {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 30%;
  margin: 2em 4em 7em;
}

.clair {
  background-image: url('../images/box1_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.margarita {
  background-image: url('../images/box2_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputs {
  width:30%;
  height: 110%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 2em 1.2em;
  letter-spacing: 1px;
}

.opacity {
  margin-top: 13em;
  width: 100%;
  height: 4em;
  background-color: rgba(255, 255, 255, .4);
  position: relative;

}

.opacity:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 27%;
  height: 13%;
  margin-left: 0.8em;
}

.opacity > h4 {
  text-align: left;
  padding-top: 0.8em;
  font-weight: 700;
  padding-left: 0.8em;
}

#space {
    margin-top: 2em;
}

.inputs > h4 {
  font-weight: bold;
  position: relative;
}

.inputs h4:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 32%;
  height: 40%;
  display: block;
  float: left;
  margin-top: 0.2em
}

.backgroundColor {
  background-color: rgba(211, 211, 211, .4);
  height:90%;
  width:100%;
}

.border {
  padding:4em 7em;
  width: 100%;
  height: 100%;
}

.offersContainer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 5em 0;
  justify-content: space-between;
}

.border > h2 {
  font-weight: 500;
  position: relative;
}

.border > h2:after {
  content: ' ';
  background-color: #24ba9f;
  position: absolute;
  width: 28%;
  height: 25%;
  top: 1.4em;
  left: 0em;
}

.offers {
  border: 2px solid gray;
  width: 28%;
  height: 109%;
  display: flex;
  flex-direction: column;
}

.middleOffer {
  border: 1px solid #24ba9f;
}

.mainSpace {
  width:auto;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
  justify-content: space-around;
}

.mainSpace>p {
  color: #24ba9f;
  font-weight: 500;
  font-size: 2em;
}

.middleColor {
  background-color: #24ba9f;
}

.circle .green {
  color: #24ba9f;
}

.middleColor > p {
  color:white;
}

.circle {
  border: 1px solid;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.textPrice {
  font-size: 1.3em;
  font-weight: 600;
  color: gray;
  opacity: .6;
}

.price {
  font-weight: 600;
  color: gray;
  opacity: .6;
  height: 30%;
  font-size: 3em;
}

.price > sup {
  font-size: 0.4em;
  position: relative;
  top: -0.5em;
}

.subSpace {
  width: auto;
  height:20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.paragraphStyle {
  width: 100%;
  padding: 0.750em;
  font-size: 1.5em;
  text-align: center;
}

.subSpace > .paragraphStyle {
  height: 50%;
}

.darkColor {
  background-color: darkgray;
}

.lightColor {
  background-color: lightgrey;
}

.secondSpace {
  width:auto;
  height: 30%;
  border: 2px solid #24ba9f;
}

.bottomSpace {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  justify-content: flex-end;
}

.firstHeight {
  height: 40%;
}

.secondHeight {
  height:30%;
  background-color: #24ba9f;
}

.thirdHeight {
  height:20%;
}

.fourthSpace {

  width:auto;
  height: 40%;
}

.secondSpace > .paragraphStyle {
  height:33.3%
}

.noColor {
  background-color: white;
}

.middleColor > .circle {
  border: 1px solid #24ba9f;
}

.fourthSpace > p {
  height:25%;
}

.offerButton {
  border: 1px solid #24ba9f;
  width: 35%;
  height: 2em;
  background-color: #24ba9f;
  border-radius: 0.4em;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top:0.35em;
  font-weight: 600;
}

.otherButton {
  background-color: white;
  color: #24ba9f;
  font-weight: 600;
}

.empty {
  height: 20%;
}
