@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Arial', sans-serif;
}

header {
  background-color: black;
  color:white;
}

.mainNavigation {
  width:100%;
  margin: 0 auto;
  height:6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

h4 {
  font-weight: 500;
}

#on {
  color:#24ba9f;
  font-weight: bold;
}

.navigation li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2em;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82%;
  width: 100%;
  margin: 0 auto;
  background:linear-gradient(white, lightgrey);
}

.slider > ul {
  list-style-type: none;
}

.slider ul li {
  display: flex;
  align-items: center;
}

.sliderArrow p {
  width: 10%;
  color: #24ba9f;
  font-size: 7em;
  padding: 0 1.3em;
  font-weight: 200;
  margin-left: -50px;
  margin-right: -50px;
}

.contentCenter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.contentCenter > h1 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

.lorem {
  font-size: 0.4em;
  line-height: 1.5em;
  padding: 2em 0;
}

.button {
  border-radius: 10px;
  padding: 0.6em 1.8em;
  font-size: 0.6em;
  color: white;
  background-color: #24ba9f;
  border: none;
  cursor: pointer;
  text-align: center;
}

.blackChair {
  background-repeat: no-repeat;
  background-size: cover;
  height: 33em;
  margin-left: -7em;
}

.threePhotos {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  height: 30%;
  margin: 2em 4em 7em;
}

.clair {
  background-image: url('../images/box1_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.margarita {
  background-image: url('../images/box2_img.jpg');
  width:30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inputs {
  width:30%;
  height: 110%;
  border: 1px solid black;
}

.opacity {
  margin-top: 13em;
  width: 100%;
  height: 4em;
  background-color: rgba(255, 255, 255, .4);
}

.opacity:after {
  content: 'Koniec listy!';
  color: red;
  font-weight: bold;
}

.opacity > h4 {
  text-align: center;
}
